
/*
 * Represents a odd component styling
 * description: -
*/



// Imports
@import '../styles/variables.styl'



// Encapuslated
.odd
  align-items: center
  background: $colorLight
  border-radius: $radius
  display: flex
  justify-content: space-between
  margin: 5px
  padding: 20px
  
  .odd-value
    cursor: pointer
  
  .input
    background: transparent
    border: 2px solid $colorWhite
    border-radius: $radius
    outline: 0
    padding: 7px
    width: 50%
