/*
 * Represents a main styling
 * description: -
*/



// Imports
@import 'styles/variables.styl'



// Globals
*
  box-sizing: border-box
  cursor: default


reset()
  margin: 0
  padding: 0
 

body
  reset()
  color: $colorDark
  font-size: 100%


ul
  reset()
  list-style: none


h1
  font-size: 1em
  text-transform: uppercase


p
  reset()
  font-size: .85em




// Encapuslated
#mounting-point
  align-items: center
  background: $colorLight
  display: flex
  justify-content: center
  height: 100vh
  width: 100vw


#app
  display: flex
  margin: 0 auto
  max-width: 1170px
  padding: 20px
  width: 100%


.odds
.betslip
  background: $colorWhite
  border-radius: $radius
  padding: 20px
  width: 50%
  

.betslip
  .odd
    background: $colorBlue
    color: $colorWhite